<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link th:href="@{/css/signin.css}" rel="stylesheet">

  <title>Login</title>
</head>

<body class="text-center">

<form class="form-signin" th:action="@{/account/register}" method="post">
  <a th:href="@{/}"><img class="mb-4" src="https://getbootstrap.com/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"></a>
  <h1 class="h3 mb-3 font-weight-normal">회원가입</h1>
<!--  <label for="email" class="sr-only">이메일을 입력하세요.</label>-->
  <div class="input-group mb-3">
    <input type="email" class="form-control" placeholder="이메일을 입력하세요." id="email" name="email" required autofocus aria-describedby="basic-addon2">
    <span class="input-group-text" type="button" id="basic-addon2">중복체크</span>
  </div>

<!--  <div class="row">-->
<!--    <div class="col-8"><input type="email" id="email" name="email" class="form-control" placeholder="email" required autofocus></div>-->
<!--    <div class="col-4"><button type="button" id="overlappedID" class="btn btn-primary">중복</button></div>-->
<!--  </div>-->



  <span id="olmessage"></span>

  <d id="idAvailable" class="valid-feedback" style="display: none;"></d>
  <d id="idNotAvailable" class="invalid-feedback" style="display: none;"></d>

  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" name="password" class="form-control" placeholder="특수문자 포함, 10~12자리" required>
  <!-- <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div> -->
  <button class="btn btn-lg btn-primary btn-block" id="signup" type="submit">회원가입</button>
  <p class="mt-5 mb-3 text-muted">&copy; 2017-2020</p>
</form>

<script>
  // $("#overlappedID").click(function(){
  //   $("#signup").attr("type", "button");
  //   const email = $("#email").val();
  //   $.ajax({
  //     type: "get",
  //     async: false,
  //     url: "http://localhost:8080/account/email/check",
  //     data: {email: email},
  //     success: function (data) {
  //       if(data == 1) {
  //         $("#olmessage").text("이미 사용중인 ID 입니다.");
  //         $("#olmessage").addClass("olmessagef");
  //         $("#olmessage").removeClass("olmessaget");
  //       }else {
  //         $("#olmessage").text("사용 가능한 ID 입니다.");
  //         $("#olmessage").addClass("olmessaget");
  //         $("#olmessage").removeClass("olmessagef");
  //         $("#signup").attr("type", "submit");
  //       }
  //     }
  //   })
  // });
  $.ajax({
    url: '/account/email/check',
    type: 'GET',
    contentType: 'application/json',
    headers: {
      // 스프링 시큐리티를 위한 헤더 설정
      "X-CSRF-TOKEN": $("meta[name='_csrf']").attr("content")
    },
    data: {
      memberId: $('#memberId').val()
    },
    success: function (result) {
      // 성공 시 실패 메시지 hide, 성공 메시지 show
      $('#idNotAvailable').hide();
      $('#idAvailable').show().text(result).append($('<br />'));
    }, error: function(error) {
      // 실패 시 실패 메시지 show, 성공 메시지 hide
      $('#idAvailable').hide();
      $('#idNotAvailable').show().text('이미 사용중인 아이디 입니다.').append($('<br />'));
    }
  });
  출처: https://juran-devblog.tistory.com/40 [란 개발일지:티스토리]
</script>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>