<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/html"
      itemscope itemtype="http://schema.org/WebPage"
      layout:decorate="~{layout/basic.html}">
<html lang="en" itemscope itemtype="http://schema.org/WebPage">

<div layout:fragment="content1">

    <div class="modal fade" id="chatModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="staticBackdropLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">

                <div class="user-container modal-header">
                    <label class="modal-title" id="staticBackdropLabel" for="nickname">[[${room.roomName}]]</label>
<!--                    <span type="text" id="nickname" th:text="${session['loginNick']}"-->
<!--                          th:value="${session['loginNick']}"></span>-->
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="display-container modal-body" style="height: 1000px">
                    <ul class="chatting-list" id="msgArea">
                    </ul>
                </div>

                <div class="input-container modal-footer">

                    <textarea type="text" id="msg" class="chatting-input form-control"
                              aria-label="Recipient's username"
                              aria-describedby="button-addon2" style="resize: none"></textarea>
                    <button type="button" id="button-send" class="btn btn-primary">전송</button>

                </div>

            </div>
        </div>

    </div>

    <div class="wrapper" style="margin-top: 100px;">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#chatModal">채팅방 입장하기</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

<script layout:fragment="script" th:inline="javascript">

    $(document).ready(function(){

        let roomName = [[${room.roomName}]];
        let roomId = [[${room.roomId}]];
        <!--/* var username = [[${#authentication.principal.username}]]; */-->
        <!--/*var username = [[${room.chatMentor}]]; */-->
        const username = [[${#authentication.principal.username}]]
        console.log("username : " + username)



        console.log(roomName + ", " + roomId + ", " + username);

        let sockJs = new SockJS("/stomp/chat");
        //1. SockJS를 내부에 들고있는 stomp를 내어줌
        let stomp = Stomp.over(sockJs);

        //2. connection이 맺어지면 실행
        stomp.connect({}, function (){
            console.log("STOMP Connection")

            //4. subscribe(path, callback)으로 메세지를 받을 수 있음
            stomp.subscribe("/sub/chat/room/" + roomId, function (chat) {
                let content = JSON.parse(chat.body);
                let message = content.message;
                let writer = content.writer;
                let str = '';


                if(writer === username){
                    console.log("출력되니?");
                    str = "<div class='col-6'>";
                    str += "<div class='alert alert-secondary'>";
                    str += "<b>" + writer + " : " + content.message + "</b>";
                    str += "</div></div>";
                    $("#msgArea").append(str);
                }else{
                    console.log("출력되니?");
                    str = "<div class='col-6' >";
                    str += "<div class='alert alert-warning' style='left: 100%'>";
                    str += "<b>" + writer + " : " + content.message + "</b>";
                    str += "</div></div>";
                    $("#msgArea").append(str);
                }

                // $("#msgArea").append(str);
            });

            //3. send(path, header, message)로 메세지를 보낼 수 있음
            stomp.send('/pub/chat/enter', {}, JSON.stringify({roomId: roomId, writer: username}))
        });

        // 엘터를 누르면 메세지 전송
        $("#msg").on("keyup",function (event){
            if(event.keyCode === 13){
                event.preventDefault();
                document.getElementById('button-send').click();
            }
        });


        $("#button-send").on("click", function(e){
            let msg = document.getElementById("msg");

            console.log(username + ":" + msg.value);
            stomp.send('/pub/chat/message', {}, JSON.stringify({roomId: roomId, message: msg.value, writer: username}));
            msg.value = '';
        });
    });



</script>

</html>